Plan of action:

1. Import cleaned data
2. Train model
3. Prompt for user input, load into a Pandas DataFrame
4. May have to clean user input data with data preparation
5. One hot encode user input
6. Feed into model for prediction

In [4]:
import pandas as pd
import machine_learning
from sklearn.ensemble import RandomForestRegressor

In [ ]:
df = pd.read_csv('cleaned_data.csv')
columns = ['Rating', 'Company Size', 'Company Type', 'Company Revenue', 'Hourly', 'Employer Provided', 'Glassdoor Estimated', 'Average Salary', 'Job State', 'Company Age', 'Education Demanded', 'Python', 'SQL',
'Excel', 'AWS', 'Spark', 'Tableau', 'Scala', 'Big Data',
'Data Visualization', 'Description Length', 'Job Level', 'Job Label',
'FAANG Or Not', 'Grouped Company Industry']
df_model = df[columns]

In [4]:
job_name = input('Please input job name: ')
job_location = input('Please input job location: ')
print('Please paste job description. Ctrl-D or Ctrl-Z to finish: ')
contents = []
while True:
    try:
        line = input('')
    except EOFError:
        break
    contents.append(line)
job_description = ' '.join([line for line in contents])
company_name = input('Please input company name: ')
rating = input('Please input company rating out of 5. If unknown, enter -1: ')
company_size = int(input('Please select the corresponding number to the company size: \n1. 1 to 50 Employees \n2. 51 to 200 Employees \n3. 201 to 500 Employees \n4. 501 to 1000 Employees \n5. 1001 to 5000 Employees \n5. 5001 to 10000 Employees \n6. 10000+ Employees \n7. Unknown' ))
year_founded = input('Please input the year the company was founded. If unknown, enter -1: ')
company_type = int(input('Please select the corresponding number to the company size: \n1. Company - Private \n2. Company - Public \n3. Other '))
company_revenue = int(input('Please select the corresponding number to the company size: \n1. Less than $1 million (USD) \n2. $1 to $5 million (USD) \n3. $5 to $10 million (USD) \n4. $10 to $25 million (USD) \n5. $25 to $50 million (USD) \n5. $50 to $100 million (USD) \n6. $100 to $500 million (USD) \n7. $500 million to $1 billion (USD) \n8. $1 to $2 billion (USD) \n9. $2 to $5 billion (USD) \n10. $5 to $10 billion (USD) \n11. $10+ billion (USD) \n12. Unknown / Non-Applicable' ))
company_industry = -1
company_sector = -1

# {'1 to 50 Employees',
#  '10000+ Employees',
#  '1001 to 5000 Employees',
#  '201 to 500 Employees',
#  '5001 to 10000 Employees',
#  '501 to 1000 Employees',
#  '51 to 200 Employees',
#  'Unknown'}

# {'Company - Private', 'Company - Public', 'Other'}


#  'Less than $1 million (USD)'
#  '$1 to $5 million (USD)',
#  '$5 to $10 million (USD)',
#  '$10 to $25 million (USD)',
#  '$25 to $50 million (USD)',
#  '$50 to $100 million (USD)',
#  '$100 to $500 million (USD)',
#  '$500 million to $1 billion (USD)',
#  '$1 to $2 billion (USD)',
#  '$2 to $5 billion (USD)',
#  '$5 to $10 billion (USD)',
#  '$10+ billion (USD)',
#  'Unknown / Non-Applicable'

Please input job name

''

In [ ]:
company_size_dict = {1: '1 to 50 Employees',
                     2: '51 to 200 Employees',
                     3: '201 to 500 Employees',
                     4: '501 to 1000 Employees',
                     5: '1001 to 5000 Employees',
                     6: '5001 to 10000 Employees',
                     7: '10000+ Employees',
                     8: 'Unknown'}
company_type_dict = {
                1: 'Company - Private',
                2: 'Company - Public',
                3: 'Other'
                }
company_revenue_dict = {
                1: 'Less than $1 million (USD)',
                2: '$1 to $5 million (USD)',
                3: '$5 to $10 million (USD)',
                4: '$10 to $25 million (USD)',
                5: '$25 to $50 million (USD)',
                6: '$50 to $100 million (USD)',
                7: '$100 to $500 million (USD)',
                8: '$500 million to $1 billion (USD)',
                9: '$2 to $5 billion (USD)',
                10: '$5 to $10 billion (USD)',
                11: '$10+ billion (USD)',
                12: '$1 to $2 billion (USD)',
                13: 'Unknown / Non-Applicable'
                }

In [6]:
job_name = 'Senior Data Scientist'
job_description = 'Yes'
rating = '4.1'
company_name = 'Sage'  
job_location = 'San Jose, CA'
company_size = '10000+ Employees'
year_founded = '1981'
company_type = 'Company - Public'
company_industry = '-1'
company_sector = '-1'
company_revenue = '$2 to $5 billion (USD)'

In [11]:
cols_pd = ['Job Name', 'Job Description', 'Rating', 'Company Name', 'Job Location', 'Company Size', 'Year Founded', 'Company Type', 'Company Industry', 'Company Sector', 'Company Revenue']
values = [[job_name, job_description, rating, company_name, job_location, company_size, year_founded, company_type, company_industry, company_sector, company_revenue]]
df_test = pd.DataFrame(values, columns=cols_pd)

In [ ]:
# top_skills = ['Python', 'SQL', 'Excel', 'AWS', 'Spark', 'Tableau', 'Scala', 'Big Data', 'Data Visualization']
# for skill in top_skills:
#     if skill

# KeyError: "['Hourly', 'Employer Provided', 'Glassdoor Estimated', 'Average Salary'] not in index"
    # how to get this...

In [12]:
df_test

,Job Name,Job Description,Rating,Company Name,Job Location,Company Size,Year Founded,Company Type,Company Industry,Company Sector,Company Revenue
0,Senior Data Scientist,Yes,4.1,Sage,"San Jose, CA",10000+ Employees,1981,Company - Public,-1,-1,$2 to $5 billion (USD)

In [ ]:
df_cols = {'Job Name': job_name, 
            'Job Description': job_description, 
            'Rating': rating,	
            'Company Name': company_name,	
            'Job Location': job_location,	
            'Company Size': company_size,	
            'Year Founded': year_founded,	
            'Company Type': company_type,	
            'Company Industry': company_industry,	
            'Company Sector': company_sector, 
            'Company Revenue': company_sector
            }
df_test = pd.DataFrame(df_cols)

In [ ]:
X_train_encoded, X_test_encoded = machine_learning.one_hot_encode_data(df_model.drop(columns=['Average Salary']), df_test)

In [ ]:
rf_model = RandomForestRegressor(max_depth=8, max_features=45, min_samples_leaf=35, min_samples_split=100, n_estimators=165)

In [ ]:
rf_model.fit(X_train_encoded, df_model['Average Salary'])
y_pred = round(rf_model.predict(X_test_encoded), 0)

In [ ]:
print('The predicted salary for {job} at {company} is {salary}'.format(job=job_name, company=company_name, salary=y_pred))

In [ ]:
# Job Name	Job Description	Rating	Company Name	Job Location	Company Size	Year Founded	Company Type	Company Industry	Company Sector	Company Revenue

# Company Sector is dropped, so just set as default value. These are unused.
# Company Industry is grouped later, so just set a default value. These are unused. just use the dictionary keys for that dict as the selection options

In [ ]:
# 60.05425725789362 is the average salary range provided by Glassdoor estimates

In [ ]:
# Do you even need to split data? Now you can just use the whole set minus the average salary column as your training data and then use the input data as a single row of test data to predict on.

In [ ]:
# ValueError: X has 15 features, but OneHotEncoder is expecting 9 features as input.